* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background: linear-gradient(120deg, white, lightgrey);
}

#page-heading {
    text-align: center;
    margin-top: 25px;
    color: grey;
}

.contacts-list-container {
    width: 50%;
    margin: auto;
}

.contacts-list-container ul {
    padding: 0;
    list-style: none;
}

.contact {
    display: flex;
    padding: 3px 10px;
    border: 1px solid white;
    background-color: teal;
    box-shadow: 1px 1px 1px 1pxx lightslategrey;
    color: white;
}

.contact .details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
}

.contact .delete-btn {
    width: 10%;
    text-align: center;
    margin-top: 5px;
    text-decoration: none;
}

.contact .delete-btn a {
    color: red;
}

.contact p {
    margin: 5px 0;
}

.form-div {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}